package-lock.json
yarn.lock

dist
node_modules
npm-debug.log
debug.log

.DS_Store
Thumbs.db
desktop.ini

.settings
.vscode
!.vscode/extensions.json
.zed
.idea
.project
/.vs/glTF2-Viewer/v17
/glTF2-Viewer.vcxproj.filters
/glTF2-Viewer.vcxproj.user
/.vs
/assets/models
/assets/environments
