<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>glTF Sample Viewer</title>

    <meta name="author" content="Khronos Group Inc.">
    <meta name="description" content="The official glTF sample viewer">
    <meta name="keywords" content="glTF, WebGL, Sample, Viewer, PBR">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="GltfSVApp.css">
    <link rel="icon" href="assets/images/gltf.png">

    <!-- buefy styles -->
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <!-- load fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <script src="https://www.gstatic.com/draco/v1/decoders/draco_decoder_gltf.js"></script>
    <script src="libs/libktx.js"></script>
</head>
<script>
    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
            vars[key] = value;
        });
        return vars;
    }

    function getUrlParam(parameter, defaultvalue) {
        var urlparameter = defaultvalue;
        if (window.location.href.indexOf(parameter) > -1) {
            urlparameter = getUrlVars()[parameter];
        }
        return urlparameter;
    }
</script>

<!-- vue js templates -->
<!-- general templates -->
<script id="toggleButtonTemplate" type="text/x-template">
    <div>
        <b-button v-on:click="buttonclicked" rounded>{{ name }}</b-button>
    </div>
</script>
<script id="jsonToUITemplate" type="text/x-template">
    <div>
        <div v-for="(value, name) in data">
            <b-collapse :class="(isinner === false) ? 'cardGrayMain' : 'cardGrayMainInner'" animation="slide"  style="word-break: break-word;">
                <!-- header -->
                <template #trigger="props">
                    <div class="cardHeader" role="button">
                        <p class="smallerLabel">
                            {{ name }}
                        </p>
                        <!-- a element needed for buefy. can be removed if hover effects are made custom -->
                        <a>
                            <b-icon :icon="props.open ? 'menu-down' : 'menu-up'">
                            </b-icon>
                        </a>
                    </div>
                </template>

                <!-- content -->
                <!-- if value is object -->
                <div v-if="value !== null && value !== undefined && value.constructor.name === 'Object'">
                    <json-to-ui-template v-bind:data="value" v-bind:isinner="!isinner"></json-to-ui-template>
                </div>
                <!-- if value is array -->
                <div v-else-if="Array.isArray(value)">
                    <label v-for="arrayValue in value" class="smallestLabel" style="display: block;">{{ arrayValue }}</label>
                </div>
                <div v-else>
                    <label class="smallestLabel">{{ value }}</label>
                </div>
            </b-collapse>
        </div>
    </div>
</script>


<body class="is-flex" style="touch-action: none">

    <div class="columns">
        <div class="column" id="canvasUI">
            <canvas id="canvas">No
                Canvas!</canvas>
        </div>

        <div class="column is-narrow is-hidden-mobile">
            <!-- UI -->
            <div id="app" v-bind:class="[uiVisible ? '' : 'is-hidden']">
                <b-tabs id="tabsContainer" vertical position="is-right" v-model="activeTab"
                    v-bind:class="[tabsHidden ? 'is-flex-wrap-nowrap hideTabs' : 'is-flex-wrap-nowrap']"
                    type="is-toggle" v-bind:animated="false">

                    <b-tab-item label="Animation" icon="video" class="tabItemScrollable tab-item">
                        <div class="tabContent">
                            <img src="assets/ui/Navigation_right_20px.svg" width="30px"
                                @click="collapseActiveTab($event, 2)">
                            <h2 class="title is-spaced">Animation</h2>
                            <label class="subtitle">Animation Controls</label>
                            <toggle-button v-stream:buttonclicked="animationPlayChanged$" ontext="Pause" offtext="Play"
                                ref="animationState"></toggle-button>

                            <b-field label="Animations"
                                v-bind:style="[animations.length == 0 ? {'display': 'none'} : {}]">
                                <b-field v-for="animation in animations" v-bind:key="animation.index">
                                    <b-checkbox v-bind:native-value="animation.index" v-model="selectedAnimations"
                                        :disabled="disabledAnimations.includes(animation.index)">
                                        {{ animation.title }}
                                    </b-checkbox>
                                </b-field>
                            </b-field>
                        </div>
                    </b-tab-item>


                </b-tabs>
            </div>
        </div>
    </div>
</body>

<script type="module" src="main.js"></script>

</html>
